header {
    color: white;
    text-align: center;
}

img {
    max-width: 200px;
}

body {
    background-color: rgb(23, 16, 56);
}

.img-area {
    display: flex ;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}